* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #030918;
}

.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    margin-top: 100px;
}

.experiencia {
    font-size: 50px;
    color: #FFD300;
}

.boton {
    color: white;
    background-color: #FFD300;
    font-size: 50px;
    width: 384px;
    height: 125px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-radius: 20px;
    border-color: blue;
    border-width: 2px;
    padding: 25px 20px;
}

.boton:hover {
    background-color: blue;
    border-color: #FFD300;
}

.escudo {
    align-items: center;
}

.mundoboca {
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    display: flex;
    color: blue;
    align-items: center;
    text-align: center;
    font-size: 40px;
    background-color: #FFD300;
    justify-content: space-around;
    height: 90px;

}

.informacion {
    text-decoration: none;
}

.titulos {
    text-decoration: none;
}

.dts {
    text-decoration: none;
}

.plantelactual {
    text-decoration: none;
}

.idolos {
    text-decoration: none;
}

.titulo {
    text-align: center;
    font-size: 50px;
    color: white;
    text-decoration: none;
    margin-top: 40px;
}

.logo {
    height: 90px;
}

.parrafo {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
}

.padre {
    display: grid;
    margin: 80px;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: 
    "subtitulo retrato"
    "explicacion retrato";
}

.subtitulo {
    grid-area: subtitulo;
    text-align: left;
    font-size: 40px;
    color: white;
    text-decoration: none;
    margin-left: 10%;
}

.explicacion {
    grid-area: explicacion;
    text-align: left;
    font-size: 30px;
    width: 700px;
    color: white;
    text-decoration: none;
    margin-left: 10%;
}

.retrato {
    grid-area: retrato;
    justify-self: right;
    width: 700px;
    height: 400px;
    margin-right: 10%;
}

.aclaracion {
    font-size: 40px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 1%;
}

.width-bg {
    background-color: #FFD300;
}

.hero-section {
    color: white;
}

.nav-link {
    color: blue;
    font-size: 40px;
}

.navbar-brand {
    height: 90px;
    font-size: 40px;
    color: blue;
}

.container {
    color: white;
    font-size: 25px;
}

.bocamundo {
    height: 50%;
}

.plantel {
    height: 50%;
}

.nav-link:hover {
    text-decoration: none;
    color: blue;
    transition: none;
}

.navbar-brand:hover {
    text-decoration: none;
    color: blue;
    transition: none;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    color: blue;
    padding-top: 10%;
    background-color: #FFD300;
    font-size: 30px;
}

.logofooter {
    height: 50%;
}